<div class="container">
    <div class="card">
        <h5 class="card-title">Order Status</h5>
    </div>
    <div class="center">
        <img src="assets/images/order.gif" width="200" alt="">
        <h3>Congratulations {{name}} 🎉</h3>
        <h4>You have successfully placed your order!!!</h4>
        <h6>Your order ID is #1028</h6>
        <strong>Order Total : ₹{{grandTotal}}</strong><br>
        <button routerLink="/fooditem" class="btn btn-danger" (click)="emptycart()">Home🏠</button>
    </div>
</div>
